* {
    box-sizing: border-box;
  
  }
  body{
    margin: 0;
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
  }
  h1, h2, h3, hr {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title__card {
    
      font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
      text-transform: uppercase;
      display: block;
      font-size: 50px;
      color: #847667;
      text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
      font-weight: bold;
      letter-spacing: -4px;
      text-align: center;
      background: linear-gradient(to bottom, #4f4e4c 0%,#e9dfd1 100%);
      position: absolute;
      padding: 20px 80px;
      top: 7%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 20px;
    
  }

  @media screen and (max-width: 858px){
    .title__card{
      
      font-size: 35px;
      padding: 10px 40px;
   
    }
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
  }
  .card {
    width: 250px;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid rgba(59, 56, 56, 0.6);
    overflow: hidden;
    transition: transform 200ms ease;
    -webkit-transition: transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -ms-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
}

  .card:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: transform 200ms ease;
    -webkit-transition: transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -ms-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
}
  .card__item {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 7px;
    color: rgba(98, 85, 85, 0.8);
    padding-left: 10px;
  }
  .card__span {
    color: black;
    transform: translateX(-10px);
  }
  .card__footer {
    display: flex;
    gap: 20px; 
    justify-content: center;
  }
  .card__btn {

    
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  .card__btn:nth-child(1){
    background-color: rgb(232, 99, 5);
    color: white;
    width: 40px;
  }
  .card__btn:nth-child(2){
    background-color: grey;
    color: white;
    width: 40px;
  }
  
  .open_form {
    border: none;
    background-color:darkslategray;
    color: #fff;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 140px;
    height: 40px;
    margin-left: 200px;
    box-shadow: 3px -3px teal;
    border-radius: 10PX;
    -webkit-border-radius: 10PX;
    -moz-border-radius: 10PX;
    -ms-border-radius: 10PX;
    -o-border-radius: 10PX;
}

@media screen and (max-width: 858px){
  .open_form{
    margin-top: 120px;
    margin-left: 140px;
  }
}
  